
@font-face {
    font-family: 'ALDI SUED OT';
    src: url('~@/assets/fonts/ALDISUEDOT-Regular.eot');
    src: url('~@/assets/fonts/ALDISUEDOT-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/ALDISUEDOT-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/ALDISUEDOT-Regular.woff') format('woff'),
        url('~@/assets/fonts/ALDISUEDOT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

